[run]
branch = True
relative_files = true
parallel = True
concurrency = multiprocessing
omit = 
    test/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    @(abc\.)?abstractmethod
    if __name__ == .__main__.:
