[run]
branch = True
parallel = True
concurrency = multiprocessing
omit = 
    test/*
    curvesim/network/nomics.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    @(abc\.)?abstractmethod
    if __name__ == .__main__.:
